<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>Weather Reporting App can be used to see temperature, humidity 
                and likely current weather condition at any place,city or country.</p>
            <h2>Author: {{author}}</h2>
            <img class="portrait" src="/img/Amit.jpg">
        </div>
        {{>footer}}
    </body>
</html>